In [ ]:
import os
import json
from urllib.parse import urlencode
import requests
#to fetch html code of a webpage
from bs4 import BeautifulSoup
#this goes through line by line (parses) of the web page
import numpy as np 
import pandas as pd
import re
# regular expression operators
from datetime import datetime

In [ ]:
required_city = "Mumbai"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
    'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
    's': required_city,
    'stack': 'aws',
    'locale': 'en',
    'filter': 'international',
    'place-types': 'settlement, airport, district',
    'order': 'importance',
    'a': 'true',
    'format': 'json'
})
location_url
# Go to the website
# right click, inspect, network
# enter a location in search bar
# double click on locations api that appears in network. Use the url that appears. Here, it is of the form:-
#https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&s=mumbai&a=true&format=json

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Mumbai&stack=aws&locale=en&filter=international&place-types=settlement%2C+airport%2C+district&order=importance&a=true&format=json'

In [ ]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'container': 'India',
     'containerId': 1269750,
     'country': 'IN',
     'id': '1275339',
     'language': 'en',
     'latitude': 19.07283,
     'longitude': 72.88261,
     'name': 'Mumbai',
     'placeType': 'settlement',
     'timezone': 'Asia/Kolkata'}],
   'totalResults': 1}}}

In [ ]:
# Print location id
result['response']['results']['results'][0]['id']

'1275339'

In [ ]:
url = 'https://www.bbc.com/weather/' + result['response']['results']['results'][0]['id']
response = requests.get(url)
# https://www.bbc.com/weather/1275339

In [ ]:
soup = BeautifulSoup(response.content,'html.parser')
# parse through the html code of the url we provided in the response

In [ ]:
# right click on the element you want info about and click on inspect
# find the code in elements portion that describes the info we need

daily_high_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__high-value'})
# This is called a span block
# Identifier type = class
# class name = wr-day-temperature_high-value
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">32°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>]

In [ ]:
daily_low_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">27°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">80°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>]

In [ ]:
daily_summary = soup.find('div', attrs={'class':'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Light cloud and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span><span class="wr-hide">Thundery showers and a moderate breeze</span></div></div>

In [ ]:
daily_summary.text

'Thundery showers and a moderate breezeThundery showers and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeLight cloud and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breeze'

In [ ]:
daily_high_values[0].text.strip()
# The daily high values gives a LIST of temeratures with some junk surrounding it
# In this code, we access the first element of the list
# We want the text part and strip the rest

'31° 89°'

In [ ]:
daily_low_values[0].text.strip()

'25° 77°'

In [ ]:
# we want only temperature in degree Celcius
daily_high_values[0].text.strip().split()[0]
# go to first element in the list
# keep the text and strip the rest
# split the resultant, we get list of two elements
# get first element of the split list

'31°'

In [ ]:
daily_high_values_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_values_list

['31°',
 '32°',
 '31°',
 '31°',
 '31°',
 '31°',
 '30°',
 '29°',
 '30°',
 '30°',
 '31°',
 '31°',
 '31°']

In [ ]:
daily_low_values_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_values_list

['25°',
 '26°',
 '27°',
 '27°',
 '27°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°',
 '26°']

In [ ]:
# In summary we got a single string of summaries
# We notice that each new element in the string begins with an upper case letter
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text)
# [a-zA-Z] returns a match for any character alphabetically between a and z, lower case OR upper case
# [^A-Z] returns a match for any character EXCEPT A to Z uppercase
# ^ means starts with
# [] means a set of characters
# * means zero or more occurences
daily_summary_list

['Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Thundery showers and a moderate breeze',
 'Thundery showers and a moderate breeze']

In [ ]:
# creating date list for which the info coincides
datelist = pd.date_range(datetime.today(), periods=len(daily_high_values)).tolist()
datelist

[Timestamp('2022-06-11 16:44:53.141292', freq='D'),
 Timestamp('2022-06-12 16:44:53.141292', freq='D'),
 Timestamp('2022-06-13 16:44:53.141292', freq='D'),
 Timestamp('2022-06-14 16:44:53.141292', freq='D'),
 Timestamp('2022-06-15 16:44:53.141292', freq='D'),
 Timestamp('2022-06-16 16:44:53.141292', freq='D'),
 Timestamp('2022-06-17 16:44:53.141292', freq='D'),
 Timestamp('2022-06-18 16:44:53.141292', freq='D'),
 Timestamp('2022-06-19 16:44:53.141292', freq='D'),
 Timestamp('2022-06-20 16:44:53.141292', freq='D'),
 Timestamp('2022-06-21 16:44:53.141292', freq='D'),
 Timestamp('2022-06-22 16:44:53.141292', freq='D'),
 Timestamp('2022-06-23 16:44:53.141292', freq='D')]

In [ ]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['22-06-11',
 '22-06-12',
 '22-06-13',
 '22-06-14',
 '22-06-15',
 '22-06-16',
 '22-06-17',
 '22-06-18',
 '22-06-19',
 '22-06-20',
 '22-06-21',
 '22-06-22',
 '22-06-23']

In [ ]:
# combining everything
zipped = zip(datelist, daily_high_values_list, daily_low_values_list, daily_summary_list)
zipped

In [ ]:
# putting the data in a presentable data frame
df = pd.DataFrame(list(zipped), columns = ['Date', 'Highest', 'Lowest', 'Summary'])
# column headings are given
display(df)

        Date Highest Lowest                                 Summary
0   22-06-11     31°    25°  Thundery showers and a moderate breeze
1   22-06-12     32°    26°  Thundery showers and a moderate breeze
2   22-06-13     31°    27°       Light cloud and a moderate breeze
3   22-06-14     31°    27°       Light cloud and a moderate breeze
4   22-06-15     31°    27°       Light cloud and a moderate breeze
5   22-06-16     31°    26°       Light cloud and a moderate breeze
6   22-06-17     30°    26°  Thundery showers and a moderate breeze
7   22-06-18     29°    26°  Thundery showers and a moderate breeze
8   22-06-19     30°    26°  Thundery showers and a moderate breeze
9   22-06-20     30°    26°  Thundery showers and a moderate breeze
10  22-06-21     31°    26°  Thundery showers and a moderate breeze
11  22-06-22     31°    26°       Light cloud and a moderate breeze
12  22-06-23     31°    26°  Thundery showers and a moderate breeze

In [ ]:
# the degree symbol will interfere with math operations so we need to remove them
df.Highest = df.Highest.replace('\°', '',regex=True).astype(float)
df.Lowest = df.Lowest.replace('\°', '',regex=True).astype(float)

display(df)

        Date  Highest  Lowest                                 Summary
0   22-06-11     31.0    25.0  Thundery showers and a moderate breeze
1   22-06-12     32.0    26.0  Thundery showers and a moderate breeze
2   22-06-13     31.0    27.0       Light cloud and a moderate breeze
3   22-06-14     31.0    27.0       Light cloud and a moderate breeze
4   22-06-15     31.0    27.0       Light cloud and a moderate breeze
5   22-06-16     31.0    26.0       Light cloud and a moderate breeze
6   22-06-17     30.0    26.0  Thundery showers and a moderate breeze
7   22-06-18     29.0    26.0  Thundery showers and a moderate breeze
8   22-06-19     30.0    26.0  Thundery showers and a moderate breeze
9   22-06-20     30.0    26.0  Thundery showers and a moderate breeze
10  22-06-21     31.0    26.0  Thundery showers and a moderate breeze
11  22-06-22     31.0    26.0       Light cloud and a moderate breeze
12  22-06-23     31.0    26.0  Thundery showers and a moderate breeze

In [ ]:
# SAVING THE DATA TABLE
#we want to save the file using the name of the location
location = soup.find('h1', attrs={'id': 'wr-location-name-id'})
location
location.text.split()

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [ ]:
# saving as csv file
filename_csv = location.text.split()[0] + '.csv'
df.to_csv(filename_csv, index=None)

In [ ]:
# saving as excel file
filename_xlsx = location.text.split()[0] + '.xlsx'
df.to_excel(filename_xlsx)