In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
stockData = pd.read_csv('https://raw.githubusercontent.com/djcrow-instructor/datasets/main/StockDataWithoutClusters_v2.csv')
stockData.head()

,Company,Sector,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
0,Hindustan Oil Exploration Company Ltd.,Crude Oil,68.40,131.299505,0.8371,1.136947,-1.000000,-0.046311,-0.923766,4.533827,-1.0,90.794979
1,United Breweries (Holdings) Ltd.,Alcohol,40.00,39.316572,0.4766,0.162805,-1.000000,-0.535856,-1.000000,158.744001,-1.0,38.169257
2,Hindustan Motors Ltd.,Auto & Auto Anc.,7.15,21.946366,0.6766,0.041085,-0.868864,-1.000000,-1.000000,6.880137,-1.0,-8.333333
3,HMT Ltd.,Industrials,42.85,477.697516,0.0631,0.013322,-0.183166,-0.167937,-1.000000,5.865182,-1.0,-23.070018
4,ABG Shipyard Ltd.,Industrials,31.10,24.718436,0.8177,0.178504,-0.766749,-0.051679,-0.865160,182.175768,-1.0,-57.014513

In [3]:
stockData['Free Float Market Cap %'] = stockData['Free Float Market Cap %'] * 100
stockData['RoE %'] = stockData['RoE %'] * 100
stockData['RoCE %'] = stockData['RoCE %'] * 100
stockData['EBIT Margin %'] = stockData['EBIT Margin %'] * 100
stockData['PAT %'] = stockData['PAT %'] * 100
stockData.describe()

,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
count,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000
mean,524.523282,1007.097584,42.499110,1.476287,5.812153,13.483160,7.695264,137.198393,3.048752,7.087798
std,1975.921838,3977.721963,15.629644,4.790404,25.264010,15.847713,17.072537,318.540047,17.421837,50.988015
min,0.350000,1.027453,6.260000,0.000004,-100.000000,-100.000000,-100.000000,0.234502,-100.000000,-91.128010
25%,60.550000,40.744259,29.180000,0.029050,1.393013,5.415892,3.374554,24.568699,0.654241,-21.670429
50%,170.100000,113.898556,40.380000,0.123546,8.981234,11.664688,7.695264,56.775656,3.935423,-1.576713
75%,448.050000,417.201805,51.230000,0.548840,17.094221,19.677723,13.344717,125.772649,8.648472,25.083403
max,51579.200000,66127.302990,100.000000,52.834197,100.000000,100.000000,100.000000,6136.311392,100.000000,586.043761

In [4]:
features = stockData.columns[2:]
features

Index(['Price', 'Market Cap', 'Free Float Market Cap %', '6m ADV', 'RoE %',
       'RoCE %', 'EBIT Margin %', 'EPS', 'PAT %', 'Stock Return %'],
      dtype='object')

In [6]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
stockDataFeatures_scaled = scaler.fit_transform(stockData[features])
stockDataFeatures_scaled = pd.DataFrame(stockDataFeatures_scaled, columns = features)
stockDataFeatures_scaled.describe()

,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
count,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000,1225.000000
mean,0.010163,0.015214,0.386592,0.027942,0.529061,0.567416,0.538476,0.022321,0.515244,0.145038
std,0.038309,0.060153,0.166734,0.090669,0.126320,0.079239,0.085363,0.051913,0.087109,0.075296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.001167,0.000601,0.244506,0.000550,0.506965,0.527079,0.516873,0.003966,0.503271,0.102570
50%,0.003291,0.001707,0.363985,0.002338,0.544906,0.558323,0.538476,0.009215,0.519677,0.132243
75%,0.008680,0.006294,0.479731,0.010388,0.585471,0.598389,0.566724,0.020459,0.543242,0.171613
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
kmeans = KMeans(7, random_state=1729)

In [9]:
clus = kmeans.fit_predict(stockDataFeatures_scaled)

In [10]:
stockData['cluster'] = clus
stockData['cluster'].value_counts()

0    435
3    382
2    153
1    152
5     62
4     21
6     20
Name: cluster, dtype: int64

In [11]:
clusterDesc = pd.DataFrame(stockData.iloc[:, 2:].groupby('cluster').mean().round(3))
clusterDesc.insert(0, 'size', stockData['cluster'].value_counts())

In [12]:
clusterDesc
# Note:-
# cluster 4 gives highest stock returns, they also brought large price stocks and have high market cap
# cluster 6 performed badly, lost all the money
# cluster 5 performed badly, but their earnings per share EPS is very large; this might be because they sold a lot of their assets and that can't typically be called stock returns.

,size,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
cluster,,,,,,,,,,,
0,435,592.088,619.761,27.991,0.552,10.256,14.348,9.606,103.218,6.054,9.311
1,152,649.328,651.667,69.087,1.636,5.560,10.644,8.090,222.809,3.262,-2.431
2,153,899.542,1506.995,45.190,2.265,30.754,33.779,20.602,38.312,15.531,6.937
3,382,310.071,332.397,46.143,0.797,5.401,9.805,6.536,158.848,2.781,11.054
4,21,1079.576,23444.136,53.240,29.847,23.259,29.106,14.239,78.645,9.935,26.735
5,62,93.107,221.118,43.650,0.633,-73.896,-7.850,-8.001,312.620,-23.219,-9.155
6,20,88.204,73.155,50.952,0.131,-43.100,-19.046,-71.661,86.288,-80.111,-13.821

In [13]:
features = stockData.columns[2:]
features

Index(['Price', 'Market Cap', 'Free Float Market Cap %', '6m ADV', 'RoE %',
       'RoCE %', 'EBIT Margin %', 'EPS', 'PAT %', 'Stock Return %', 'cluster'],
      dtype='object')